@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: gray;
}
.log-in-wrapper{
    background-image: url(../images/david-marcu-78A265wPiO4-unsplash\ 1.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    width: 1240px;
    margin: 0 auto;
}
.log-in-box{
    width: 500px;
    background: rgba(233, 233, 233, 0.25);
    backdrop-filter: blur(5px);
}
.content-container{
    width: 350px;
    margin: 0 auto;
}
/* ---content--- */
/* ---switcher--- */
.switcher{
    display: inline-block;
    position: relative;
    padding: 10px;
}
.switcher input{
    display: none;
}
.switcher input + label{

}


